@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

ul, li, dl, dt, dd, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #111;
}

body, a {
    font-size: 16px;
    font-weight: 400;
    /*letter-spacing: 0.03em;*/
    font-style: normal;
    color: #fff;
}

header {
    /*background:url('https://s3picturehouses.s3.eu-central-1.amazonaws.com/header/ph_15977496885f3bb9b84457c.jpg');*/
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 10px;
    position: relative;
    padding-top: 80px;
}

header {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 10px;
    position: relative;
    padding-top: 80px;
    background: rgba(0, 0, 0, 1);
}

header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 80px #000;
}


header nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;

}


header nav .fa {
    cursor: pointer;
    display: none;
}


header nav .fa:hover {
    color: #DB0000;
}

.nav {
    background: #fff;
    color: #000;
    transition: background .5s;
}

.nav .logo a {
    color: #000;
}

.navBlack {
    background: #000;
    color: #fff;
    transition: background .5s;
}

.navBlack .logo a {
    color: #fff;
}

header nav .logo a {
    font-weight: 700;
    font-size: 1em;
}

header nav .logo span {
    color: #DB0000;
}

header nav ul .marker {
    background: #DB0000;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}


header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    list-style: none;
    position: relative;
}


header nav ul li {
    cursor: pointer;
}


header nav ul li span {
    display: flex;
    gap: 8px;
    align-items: center;
}

header nav ul li img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.movie-btns {
    width: 200px;
    border: none;
    outline: none;
    border-radius: 100px;
    font-size: 1em;
    background: #DB0000;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.reviewList .movie-btns {
    width: 250px;
}
.slick-slide {
    height: auto;
}

.slick-slider .slick-prev {
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-slider .slick-next {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-date, .slick-time {
    padding: 0 30px 0 30px;
}

.movie-ticket-book p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.movie-ticket-book .date-container {
    text-align: center;
}

.movie-ticket-book .time {
    text-align: center;
}

.date-container .date {
    font-size: 1.2em;
    font-weight: bold;
}
.movie-ticket-book .date,
.movie-ticket-book .day{
    display: inline-block;
}
.time {
    font-size: 1.2em;
}

section .popular-movie-slider {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 35px;
    padding: 10px 100px;
    position: relative;
}

section .popular-movie-slider .poster {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}


section .popular-movie-slider .popular-movie-slider-content {
    line-height: 25px;
    margin-top: 20px
}

section .popular-movie-slider .popular-movie-slider-content .movie-name {
    font-size: 1.8em;
}


section .popular-movie-slider .popular-movie-slider-content .category {
    display: flex;
    gap: 30px;
    text-transform: capitalize;
    margin: 10px 0;
}

section .popular-movie-slider .popular-movie-slider-content .desc {
    font-size: .90em;
}

section .popular-movie-slider .popular-movie-slider-content .movie-info {
    display: flex;
    gap: 30px;
    margin: 25px 0;
}

section .popular-movie-slider .popular-movie-slider-content .movie-info .fa-circle {
    color: #DB0000;
    font-size: .85em;
}

section .popular-movie-slider .popular-movie-slider-content .movie-info .fa span {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 15px;
}


section .popular-movie-slider .popular-movie-slider-content .movie-btns {
    display: flex;
    gap: 10px;
}


section .popular-movie-slider .popular-movie-slider-content .movie-btns button {
    width: 200px;
    border: none;
    outline: none;
    padding: 15px 0;
    border-radius: 100px;
    font-size: 1em;
    background: #DB0000;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

section .popular-movie-slider .popular-movie-slider-content .movie-btns button .fa {
    font-size: .65em;
    color: #fff;
}


section .popular-movie-slider .popular-movie-slider-content .movie-btns button:hover {
    background: white;
}


section .movie-ticket-book {
    grid-gap: 30px;
    background: #222;
    color: #fff;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

section .choose-time {
    grid-row: 2;
}
.choose-time button,
.choose-date button {
    font-weight: 700;
    color: #DB0000;
    border: none;
    background: none;
}

section .movie-ticket-book .choose-date,
section .movie-ticket-book .choose-time {
    position: relative;
    overflow: hidden;
}

section .movie-ticket-book .choose-date .heading,
section .movie-ticket-book .choose-time .heading {
    text-transform: uppercase;
    font-weight: 400;
}

section .movie-ticket-book .choose-date .wrapper,
section .movie-ticket-book .choose-time .wrapper {
    width: 300px;
}

section .movie-ticket-book .choose-date .carousel,
section .movie-ticket-book .choose-time .carousel {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-item: center;
    padding: 10px 0;
}

section .movie-ticket-book .choose-date .carousel .owl-nav,
section .movie-ticket-book .choose-time .carousel
.owl-nav {
    color: #DB0000;
    position: absolute;
    width: 99%;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

section .movie-ticket-book .choose-date .carousel .card p:nth-child(1),
section .movie-ticket-book .choose-time .carousel .card p:nth-child(1) {
    color: #888;
    font-size: .75em;
}


section .movie-ticket-book .choose-date .carousel .card p:nth-child(2),
section .movie-ticket-book .choose-time .carousel .card p:nth-child(2) {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}


section .movie-ticket-book .choose-date .wrapper .marker,
section .movie-ticket-book .choose-time .wrapper .marker {
    width: 60px;
    height: 2px;
    background: #DB0000;
    position: absolute;
    left: 45%;
    transform: translate(-50%, 0);
}


section .movie-ticket-book>button {
    font-size: 1em;
    width: 200px;
    grid-row: 1 / span 2;
    border: none;
    outline: none;
    height: 50px;
    background: #DB0000;
    color: #fff;
    border-radius: 50px;
    padding: 10px 50px;
    cursor: pointer;
}

section .movie-ticket-book button:hover {
    background: #000;
}


section .filter-search-box {
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    padding-top: 50px;
    position: relative;
}


section .filter-search-box .filters-box {
    display: flex;
    gap: 50px;
    color: #fff;
}


section .filter-search-box .filters-box .filters {
    cursor: pointer;
}


section .filter-search-box .search-bar {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 83%;
    height: 2px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
}

section .filter-search-box .search-bar .bar {
    width: 10%;
    height: inherit;
    background: #DB0000;
}


section .filter-search-box .search-filters {
    color: #fff;
}

section .filter-search-box .search-filters input {
    border: none;
    outline: none;
    width: 200px;
    padding: 5px 10px;
    background: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;

}

#search-icon {
    cursor: pointer;
}


#search-icon:hover {
    color: #007bff;
}


section .movie-card-section {
    background: #111;
    padding: 20px 100px;
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 18px;
    padding-top: 50px;
}


section .movie-card-section .card {
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

section .movie-card-section .card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}


section .movie-card-section .card .card-content .movie-name {
    font-weight: 700;
    margin-top: 10px;
}

section .movie-card-section .card .card-content .movie-info {
    font-size: .95em;
    margin-top: 10px;
}


section .movie-card-section .card .card-content .movie-info span {
    color: #666;
}

section .movie-card-section .card .card-content .movie-info .d3 {
    background: #DB0000;
    border-radius: 50%;
    font-size: .50em;
    color: #fff;
    padding: 3px;
    margin-left: 3px;
}

section .pagination {
    width: 100%;
    text-align: center;
    background: #111;
    margin-top: 50px;
    margin-bottom: 50px;
}

section .pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #DB0000;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

section .pagination a:hover {
    background-color: #FFA500;
}

section .pagination .active {
    background-color: #FFA500;
    font-weight: bold;
}


section .show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: #111;
    padding: 10px 100px;
    padding-bottom: 40px;
}


section .show .show-bar {
    background: #fff;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    overflow: hidden;
}

section .show .show-bar .bar {
    width: 100%;
    height: inherit;
    background: #DB0000;
    border-radius: 50px;
}


section .show button {
    border: none;
    outline: none;
    width: 250px;
    padding: 15px 0;
    font-size: 1em;
    border-radius: 50px;
    background: #DB0000;
    color: #fff;
    cursor: pointer;
}


section .show button:hover {
    background: #000;
}


/*---footer------*/
footer {
    background: #222;
    color: #fff;
    padding: 40px 100px;
    display: grid;
    grid-template-columns:auto auto auto;
    align-items: center;
}


footer .logo-box {
    font-size: .65em;
}


footer .logo-box .logo {
    font-size: 1.8em;
    font-weight: 700;
}

footer .logo-box .logo span {
    color: #DB0000;
}


footer ul {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}


footer ul li {
    cursor: pointer;
    color: #888;
}


footer ul li:nth-child(1) {
    color: #fff;
}

footer ul li:hover {
    color: #fff;
}


footer .socail-box {
    display: flex;
    gap: 10px;
    justify-content: end;
}

footer .socail-box .fa {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer .socail-box .fa:hover {
    background: #fff;
    color: #DB0000;
}

.numberOfSeatEl {
    color: #414141;
}

.leftCont {
    width: 100%;
    background-color: aliceblue;
}

.leftMainCont {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
}

.container .legendContainer {
    background-color: #f1f1f1;
    display: flex;
    padding: 1rem;
    width: 100%;
}

.container .legendContainer ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
    user-select: none;
}

.container .legendContainer ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .legendContainer ul li small {
    color: #bdbdbd;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.container .leftMainCont .seat {
    height: 25px;
    width: 30px;
    border: 1px solid #bdbdbd;
    border-radius: 2px 2px 4px 4px;
    margin: 10px;
    margin-bottom: 0.8rem;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s ease background-color;
}
.container .leftMainCont .seat:nth-child(2){
    margin-right: 1.5em;
}
.container .leftMainCont .seat:nth-last-child(2){
    margin-left: 1.5em;
}
.container .leftMainCont .seat::after {
    content: "";
    height: 23px;
    width: 20px;
    border: 1px solid #bdbdbd;
    position: absolute;
    left: 50%;
    top: 29%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 2px 2px;
    transition: 0.3s ease background-color;
}

.container .leftMainCont .seat:hover,
.container .leftMainCont .seat:hover::after {
    background-color: #e6e6e6;
}

.container .legendContainer .seat {
    cursor: default;
    margin-bottom: 10px;
}

.container .legendContainer .seat:hover,
.container .legendContainer .seat:hover::after {
    background-color: #fff;
}

.container .leftMainCont .seat.occupied,
.container .leftMainCont .seat.occupied::after {
    background-color: lightgray;
}

.container .leftMainCont .seat.selected,
.container .leftMainCont .seat.selected::after {
    background-color: rgb(168, 245, 168);
    border-color: rgba(0, 190, 0, 0.336);
}

.container .mainSeatCont {
    background-color: aliceblue;
    height: 70%;
    padding: 3rem 1rem;
    position: relative;
    min-width: 100%;
    overflow-x: auto;
    margin: 0% auto;
}

.container .mainSeatCont .seatCont {
    align-items: center;
    justify-content: center;
}

.container .mainSeatCont .seatCont .seatRowCont {
}

.container .mainSeatCont .seatCont .seatRowCont2 {
}

.container .leftMainCont .screen {
    height: 15px;
    width: 65%;
    background-color: #686868;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    max-width: 460px;
    user-select: none;
    margin: 0 auto;
}

.container .leftMainCont .screen small {
    color: #bdbdbd;
    font-size: 11px;
    letter-spacing: 0.3rem;
}

/*  */
.container .confirmCont {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container .confirmCont .rightTopCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #c4c4c4;
}

.container .confirmCont .movieInfo div {
    margin-bottom: 0.8rem;
}

.container .confirmCont .movieInfo p {
    color: #bdbdbd;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 0.2rem;
}

.container .confirmCont .movieInfo .dateOn {
    color: #414141;
    font-size: 14px;
    margin-top: 0.4rem;
}

.container .confirmCont .selectMovie select {
    padding: 0.375rem 0.75rem;
    border: 1px solid #c4c4c4;
    outline: none;
    border-radius: 3px;
    color: #686868;
    font-family: inherit;
    margin-top: 0.4rem;
    background-color: transparent;
}

.container .confirmCont .movieInfo h1 {
    color: #414141;
    margin-top: 0.2rem;
}

.container .confirmCont .rightBottomCont .selectedSeatCont {
    border-bottom: 1px solid #c4c4c4;
    padding: 1rem 0;
}

.container .confirmCont .rightBottomCont .selectedSeatCont p {
    font-size: 12px;
    color: #bdbdbd;
}

.container .rightBottomCont .noSelected {
    text-align: center;
    color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #bdbdbd;
    text-transform: uppercase;
    width: 200px;
}

.container .confirmCont .rightBottomCont .selectedSeatCont .selectedSeat {
    border: 1px solid lightgreen;
    color: lightgreen;
    padding: 0.375rem 1.8rem;
    border-radius: 3px;
    user-select: none;
    min-width: 77.3px;
    max-width: 77.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.container .confirmCont .rightBottomCont .selectedSeatCont .selectedSeat:hover {
    background-color: rgba(144, 238, 144, 0.151);
    transition: 0.3s ease background-color;
}

.container
.confirmCont
.rightBottomCont
.selectedSeatCont
.selectedSeatsHolder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(67.3px, 67px));
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    margin-top: 0.8rem;
    grid-auto-columns: auto;
    position: relative;
}

.container .confirmCont .rightBottomCont .numberOfSeatsCont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1.5rem 1rem;
    user-select: none;
}

.container .confirmCont .rightBottomCont .numberOfSeatsCont .numberOfSeat p {
    color: #414141;
    font-size: 13px;
}

.container .confirmCont .rightBottomCont .numberOfSeatsCont .priceCont {
    color: crimson;
}

.container .confirmCont .rightBottomCont .buttonCont {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.container .confirmCont .rightBottomCont .buttonCont button {
    padding: 0.75rem 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
}

.container .confirmCont .rightBottomCont .buttonCont .cancelBtn button {
    background-color: crimson;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container .confirmCont .rightBottomCont .buttonCont .cancelBtn button:hover {
    background-color: rgb(204, 0, 41);
    transition: 0.3s ease background-color;
}

.container .confirmCont .rightBottomCont .buttonCont .proceedBtnEl button {
    background-color: lightgreen;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.3s ease background-color;
}

.container
.confirmCont
.rightBottomCont
.buttonCont
.proceedBtnEl
button:hover {
    background-color: rgba(84, 216, 84, 0.808);
}

/* Success Modal */
body.modal-active {
    overflow: hidden;
    padding-right: 17px;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000;
    top: 0%;
    left: 0%;
    opacity: 0.3;
    display: none;
}

body.modal-active .overlay {
    display: block;
}

.successModal {
    width: 80%;
    max-width: 450px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: url(https://github.com/Dinesh1042/Vanilla-JavaScript-Projects/blob/main/Movie%20Booking/asset/c1.png?raw=true);
    background-size: 140%;
    background-position: top center;
    user-select: none;
    z-index: 11;
    animation: 1s ease modalAnimation;
}

.successModal .modalTop {
    padding: 1rem;
}

.successModal .modalTop img {
    width: 100px;
}

.successModal .modalCenter {
    padding: 0.5rem 2.5rem;
}

.successModal .modalCenter h1 {
    color: #414141;
}

.successModal .modalCenter p {
    color: #686868;
    margin-top: 0.5rem;
}

.successModal .modalBottom {
    margin-top: 1rem;
}

.successModal .modalBottom button {
    background-color: lightgreen;
    border: none;
    outline: none;
    padding: 0.75rem 1.3rem;
    border-radius: 0.2rem;
    cursor: pointer;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.3s ease background-color;
}

.successModal .modalBottom button:hover {
    background-color: rgba(84, 216, 84, 0.808);
}


@keyframes modalAnimation {
    0% {
        margin-top: -5px;
    }
    100% {
        margin-top: 0px;
    }
}

/* 로그인 */

section .login {
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px;
    height: 100%;
}

section .login table {
    margin: 0 auto;
}

section .login th {
    color: white;
    width: 50px;
}

section .login td {
    color: white;
    width: 300px;
}

section .login button {
    margin-top: 10px;
    outline: none;
    height: 50px;
    background: #DB0000;
    color: #fff;
    border-radius: 50px;
    padding: 10px 50px;
    cursor: pointer;
    cursor: pointer;
}

/* 회원가입 */

section .register {
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px;
    height: 100%;
}

section .register table {
    margin: 0 auto;
}

section .register th {
    color: white;
    width: 100px;
}

section .register td {
    color: white;
    width: 500px;
}

section .register button {
    margin-top: 10px;
    outline: none;
    height: 50px;
    background: #DB0000;
    color: #fff;
    border-radius: 50px;
    padding: 10px 50px;
    cursor: pointer;

}

/* 리뷰 */
.reviewList {
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px;
    width: 100%;
}

.reviewList textarea {
    border-radius: 10px;
}


.reviewList button {
    /* border: none; */
    outline: none;
    height: 50px;
    background: #DB0000;
    color: #fff;
    border-radius: 50px;
    padding: 10px 50px;
    cursor: pointer;
}

section .slider-wrap {
    background-color: black;
}

section .slider-wrap img {
    height: 500px;
}

@media (min-width: 800px) {
    .container {
        display: flex;
    }

    .container .confirmCont {
        min-width: 300px;
        max-width: 300px;
        float: right;
        padding: 2rem;
        min-height: 100vh;
    }

    .container .legendContainer {
        justify-content: start;
        align-items: flex-start;
    }

    .container .legendContainer ul {
        margin: unset;
    }

    .container .confirmCont .rightBottomCont .buttonCont {
        flex-direction: column-reverse;
    }

    .container .confirmCont .rightBottomCont .buttonCont button {
        width: 100%;
        padding: 0.8rem 0.75rem;
        margin-bottom: 0.8rem;
    }
}

@media (max-width: 430px) {
    .container .mainSeatCont {
        padding-left: 0;
    }

    .container .mainSeatCont .seatCont {
        display: flex;
        min-width: 500px;
        align-items: center;
    }

    .container .mainSeatCont .screen {
        min-width: 400px;
        transform: translateX(-30%);
    }

    .successModal .modalCenter {
        padding: 0.4rem;
    }

    .successModal .modalCenter h1 {
        font-size: 17px;
    }

    .successModal .modalCenter p {
        margin-top: 0.3rem;
    }

    body.modal-active {
        padding-right: 0px;
    }
}

@media (min-width: 1024px) and (max-width: 1080px) {

    section .movie-card-section {
        gap: 15px;
    }

}

@media (min-width: 720px) and (max-width: 1023px) {

    section .movie-card-section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    header nav ul {
        display: none;
        position: absolute;
        right: 0;
        top: 40px;
        color: #fff;
        background: #000;
        width: 100%;
        height: 100vh;
        padding: 20px 30px;
    }

    header nav .fa {
        cursor: pointer;
        display: block;
    }


    section .popular-movie-slider {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 35px;
        padding: 10px 100px;
        position: relative;
    }

    section .popular-movie-slider .poster {
        width: 300px;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }


    section .popular-movie-slider .popular-movie-slider-content {
        line-height: 25px;
    }

    section .popular-movie-slider .popular-movie-slider-content .movie-name {
        font-size: 1.8em;
    }


    section .popular-movie-slider .popular-movie-slider-content .category {
        display: flex;
        gap: 30px;
        text-transform: capitalize;
        margin: 10px 0;
    }

    section .popular-movie-slider .popular-movie-slider-content .desc {
        font-size: .90em;
    }

    section .popular-movie-slider .popular-movie-slider-content .movie-info {
        display: flex;
        gap: 30px;
        margin: 25px 0;
    }

    section .popular-movie-slider .popular-movie-slider-content .movie-info .fa span {
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-size: 15px;
    }


    section .popular-movie-slider .popular-movie-slider-content .movie-btns {
        display: flex;
        gap: 10px;
    }


    section .popular-movie-slider .popular-movie-slider-content .movie-btns button {
        width: 200px;
        border: none;
        outline: none;
        padding: 15px 0;
        border-radius: 100px;
        font-size: 1em;
        background: #DB0000;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    section .popular-movie-slider .popular-movie-slider-content .movie-btns button .fa {
        font-size: .65em;
        color: #fff;
    }


    section .popular-movie-slider .popular-movie-slider-content .movie-btns button:hover {
        background: white;
        color: black;
    }


    section .movie-ticket-book {
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
    }


    section .movie-ticket-book .choose-date .wrapper,
    section .movie-ticket-book .choose-time .wrapper {
        width: 30%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    section .movie-ticket-book .choose-date .carousel,
    section .movie-ticket-book .choose-time .carousel {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-item: center;
        padding: 10px 0;
    }

    section .movie-ticket-book .choose-date .carousel .owl-nav,
    section .movie-ticket-book .choose-time .carousel
    .owl-nav {
        color: #DB0000;
        position: absolute;
        width: 110%;
        top: 50%;
        left: -50%;
        transform: translate(0%, -50%);
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
    }


    section .movie-ticket-book .choose-date .wrapper .marker,
    section .movie-ticket-book .choose-time .wrapper .marker {
        width: 60px;
        height: 2px;
        background: #DB0000;
        position: absolute;
        left: 45%;
        transform: translate(-50%, 0);
    }


    section .movie-ticket-book>button {
        grid-row: inherit;
        margin-top: 20px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }


    section .filter-search-box {
        padding: 20px 50px;
    }


    section .filter-search-box .filters-box {
        gap: 10px;
    }


    section .filter-search-box .search-bar {
        left: 50px;
        width: 85%;
    }


    section .movie-card-section {
        padding: 20px 50px;
    }


    section .movie-card-section .card img {
        width: 100%;
        height: 300px;
    }


    section .show {
        padding: 10px 50px;
        padding-bottom: 40px;
    }


    footer {
        padding: 40px 50px;
        grid-template-columns:auto;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }


}

@media (min-width: 0px) and (max-width: 719px) {
    section .movie-ticket-book {
        justify-content: center;
    }

    section .movie-ticket-book>button {
        grid-row: inherit;
    }

    header {
        height: auto;
        padding-bottom: 30px;
    }

    header nav {
        padding: 10px 20px;
    }

    header nav ul {
        display: none;
        position: absolute;
        right: 0;
        top: 40px;
        color: #fff;
        background: #000;
        width: 100%;
        height: 100vh;
        padding: 20px 30px;
    }

    header nav .fa {
        cursor: pointer;
        display: block;
    }

    header .popular-movie-slider {
        padding: 10px 20px;
        display: block;
    }

    header .popular-movie-slider .poster {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }

    section .movie-ticket-book {
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        padding: 30px 20px;
    }

    section .filter-search-box {
        padding: 20px 20px;
    }

    section .filter-search-box .filters-box {
        gap: 10px;
    }

    section .filter-search-box .search-bar {
        left: 20px;
        width: 90%;
    }

    section .movie-card-section {
        padding: 20px 20px;
        grid-template-columns:auto auto;
    }

    section .movie-card-section .card img {
        width: 100%;
        height: 300px;
    }

    section .show {
        padding: 10px 20px;
        padding-bottom: 40px;
    }

    footer {
        padding: 40px 20px;
        grid-template-columns:auto;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: .85em;
    }

    section .filter-search-box {
        gap: 20px;
        overflow-x: scroll;
    }

    section .filter-search-box::-webkit-scrollbar {
        display: none;
    }

    section .filter-search-box .search-filters input {
        width: 50px;
        padding: 5px 10px;
    }

    section .movie-ticket-book {
        padding: 30px 0px;
    }

    section .movie-ticket-book button {
        margin-top: 20px;
    }

}

/*카테고리 css*/
.category-filters {
    position: relative;
}

#genre-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#genre-list li {
    padding: 5px;
    color: white;
    cursor: pointer;
}

#genre-list li:hover {
    background-color: #444;
}
/*end of 카테고리 css*/

/*// 마이페이지*/

#myPageForm {
    align: center;
}
section .myPage {
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px;
    height: 100%;
}

section .myPage h4 {
    text-align: center;
}

section .myPage table {
    margin: 30 430;
    align: center;
}

section .myPage th {
    color: white;
    width: 100px;
}

section .myPage td {
    color: white;
    width: 300px;
}

section .myPage td input{
    width: 300px;
}


section .myPage button {
    margin-top: 10px;
    margin-left: 50px;
    outline: none;
    height: 50px;
    background: #DB0000;
    color: #fff;
    border-radius: 50px;
    padding: 10px 50px;
    cursor: pointer;

}
